<details open markdown="block">
  <summary>
  Условные обозначения времен
  </summary>
- Inf. — инфинитив глагола (первая форма) без частицы *to*
- [abc] — глагол, который изменяется по времени, лицам и числам ([изменение
  по лицам и числам]({{ site.baseurl }}{% link grammar/verb/index.md %}#изменение-глагола-по-лицам-и-числам))
- P.I — причастие I
- P.II — причастие II
- @Ind., @Perf., @Cont., @Perf.Cont. — соответствующая видовременная
  форма глагола (Indefinite, Perfect, Continuous, Perfect Continuous)
</details>
